
body{
    background-image: url(https://ak.picdn.net/shutterstock/videos/10793555/thumb/1.jpg);
    }
.container{
    background-color: white;

}
img{
    float:left;
    margin-right: 15px;
}
.row{
    margin:15px;
}
header nav{
    float:right;
}
header h1,
header nav ul li{
    display:inline-block;
    margin:15px;

}