
body{
    
    background:#e1d5e0;
}

.navbar-nav{
    margin-left:auto;
}

/* Style for my name*/   
#my-name{
    font-family: 'Dancing Script', cursive;
    color: #94057c;
    font-size:40px;
    text-decoration:none;
}

/* Style for About Me*/   
h2{
    font-family: 'Dancing Script', cursive;
    color: #94057c;
    font-size:30px;
    padding:10px;
}

 /* Style for the main section*/   
.container{
    flex-wrap: wrap;
    width:90%;
    border-radius: 1rem;
    margin:50px auto;
    height:700px;
    padding:20px;
    font-family:Arial, Helvetica, sans-serif; 
    background: #f1e9f0;
    box-shadow: 20px 20px 40px #e5dde4, 
                -20px -20px 40px #fdf5fc;
}
/* Style for the image*/   
img{
    float:left;
    width:220px;
    height:280px;
    margin-right:25px;
}

/* Style for the paragraph*/   
p{
    font-size:20px;
    line-height: 2; 
}

