/*insert the background image*/
body{
    background:#e1d5e0;
}

/*style for navbar*/

.navbar-nav{
    margin-left:auto;
}
/*style for name of the webpage*/
#my-name{
    font-family: 'Dancing Script', cursive;
    color: #94057c;
    font-size:40px;
    text-decoration:none;
}


/*Style for the header (Portfolio) in the main section*/
h2{
    font-family: 'Dancing Script', cursive;
    color: #94057c;
    font-size:30px;
    padding:10px;
}

/*style for the section*/
.container{
    width:90%;
    border-radius: 1rem;
    margin:50px auto;
    height:500px;
    padding:20px;
    font-size:16px;
    font-family:Arial, Helvetica, sans-serif; 
    background: #f1e9f0;
    box-shadow: 20px 20px 40px #e5dde4, 
                -20px -20px 40px #fdf5fc;
}

#title{
    font-size: 20px;
    color: black;
}





