body{
background-image: url(https://ak.picdn.net/shutterstock/videos/10793555/thumb/1.jpg);
}
    h1{
    font-size 30;
    font-weight:bold;
}
.container{
    background-color: white;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}
.portfolio-img{
    width: 30%;
    margin:10px;
}

    



}